venv
.env
retinopathy.tflite
convert.py
# Blind_DetectionV1.keras
# *.keras
*.h5
*.onnx  # Keep only the production model
__pycache__
# Jupyter Notebook checkpoints
.ipynb_checkpoints
# Jupyter Notebook metadata
.ipynb
# Python bytecode files
*.pyc
# Logs
*.log
# Temporary files
*.tmp
fla.py
static
templates